{% extends theme_path('layout.twig') %}

{% block content %}
    {% for entity in entities %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ entity.title }}</h2>
            <p class="blog-post-meta">{{ entity.dateCreated.format('d.m.Y H:i:s') }} by <a href="#">Admin</a></p>
            <p>{{ entity.message|nl2br }} ...<a href="{{ link('read', {'module': entity.module, 'id': entity.id}) }}">Читать далее</a></p>
        </article>

                <!--a href="{{ link('admin_edit', {'module': entity.module, 'id': entity.id}) }}">Редактировать</a-->

    {%  endfor %}
    <!--a href="{{ link('admin_create', {module:'Posts'}) }}">Создать запись</a-->
{% endblock %}
