{% extends theme_path('layout.twig') %}

{% block content %}
    {% for entity in entities %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ entity.title }}</h2>
            <p class="blog-post-meta">{{ entity.dateCreated.format('d.m.Y H:i:s') }} by <a href="#">Admin</a></p>
            <p>
                {{ setcms_markdown(entity.message) }}
                <a href="{{ link('action_record', {module: entity.module, action: 'read', 'id': entity.id}) }}">Читать</a>
                {% if is_admin() %}
                    | <a href="{{ link('action_record_admin', {module: entity.module, action: 'edit', id: entity.id}) }}">Редактировать</a>
                {% endif %}
            </p>
        </article>

    {%  endfor %}
    {% if is_admin() %}
    <a href="{{ link('action_admin', {module:'Posts', action: 'create'}) }}">Создать запись</a>
    {% endif %}
{% endblock %}
