{% extends setcms.path('layout.twig') %}

{% block title %}Пост - {{ entity.title }}{% endblock %}

{% block content %}
    {% if entity %}
        <h1>{{ entity.title }}</h1>
        <p>
            {{ setcms.markdown(entity.message)|raw }}
        </p>

        <p>
            Дата создания: {{ entity.dateCreated.format('d.m.Y H:i:s') }}
            | <a href="{{ setcms.link('action', {module: entity.module, action: 'index'}) }}">К списку</a> 
            {% if setcms.currentUser.isAdmin %}
            | <a href="{{ setcms.link('action_record_admin', {module: entity.module, action: 'edit', id: entity.id}) }}">Редактировать</a>
            {% endif %}
        </p>
    {% endif %}
    {% if not model.isValid() %}
        <div>{{ model.getFirstMessage('id') }}</div>
    {% endif %}
{% endblock %}