{% macro listview_column(column) %}
    {% import scShortPath('macros/forms.twig') as controls %}
    {% if column.type == 'link' %}
        {{  controls.link(column) }}
    {% endif %}
    {% if column.type == 'bool' %}
        {{  controls.boolean(column) }}
    {% endif %}
    {% if column.type == 'checkbox' %}
        {{  controls.checkbox(column) }}
    {% endif %}
    {% if column.type == 'boolean' %}
        {{  controls.checkbox(column) }}
    {% endif %}
    {% if column.type == 'text' %}

        {{ column.value }}
    {% endif %}
    {% if column.type == 'actions' %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Действия
            </button>
            <ul class="dropdown-menu">
                {% for action in column.actions %}
                    {% if scHasAccess(action.route) %}
                        <li><a class="dropdown-item"  href="{{ scLink(action.route, action.params) }}">{{ action.label }}</a></li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}
{% endmacro %}

{% macro listview(params) %}
    <div >
        <form>
            <table class="table">
                <thead>
                    {% for row in params.rows %}
                        {% if row.type == 'header' %}
                            <tr>
                                {% for column in row.columns %}
                                    <th scope="col">
                                        {{ _self.listview_column(column) }}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in params.rows %}
                        {% if row.type == 'row' %}
                            <tr>
                                {% for column in row.columns %}
                                    <td>
                                        {{ _self.listview_column(column) }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}

                    {%  endfor %}

                </tbody>
            </table>
        </form>
    </div>
{% endmacro %}

{% macro editview(params) %}
    {% import scShortPath('macros/forms.twig') as form %}

    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ params.action }}"
          setcms-redirect="{{ params.redirect }}"
          >
        <ul class="nav nav-tabs flex-column flex-sm-row" id="myTab" role="tablist">
            {% for panel in params.panels %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link {% if panel.active %}active{% endif %}" 
                        id="{{ panel.name }}-tab" 
                        data-bs-toggle="tab"
                        data-bs-target="#{{ panel.name }}" 
                        type="button" role="tab" 
                        aria-controls="{{ panel.name }}" 
                        aria-selected="true"
                        >
                        {{ panel.label }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for panel in params.panels %}
                <div 
                    class="tab-pane fade show {% if panel.active %}active{% endif %}" 
                    id="{{ panel.name }}" 
                    role="tabpanel" 
                    aria-labelledby="{{ panel.name }}-tab"
                    >
                    {% for field in panel.fields %}
                        {% if field.type == 'hidden' %}
                            {{ form.hidden(field) }}
                        {% endif %}
                        {% if field.type == 'input' %}
                            {{ form.input(field) }}
                        {% endif %}
                       {% if field.type == 'checkbox' %}
                            {{ form.checkbox(field) }}
                        {% endif %}
                       {% if field.type == 'boolean' %}
                            {{ form.boolean(field) }}
                        {% endif %}
                        {% if field.type == 'textarea' %}
                            {{ form.textarea(field) }}
                        {% endif %}
                        {% if field.type == 'date' %}
                            {{ form.input(field) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% for field in params.actions.fields %}
            {% if field.type == 'submit' %}
                {{ form.submit(field) }}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}