{% macro input(params) %}
    <div class="mb-2">
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif %}
        {% set value = params.value %}
        {% if params.entity %}
            {% set value = attribute(params.entity, params.name) %}
        {% endif %}
        <input name="{{ params.name }}" 
               type="{{ params.type }}"
               value="{{ value }}"
               class="form-control" 
               size="{{ params.size }}" 
               placeholder="{{ params.placeholder }}" 
               {% if params.disabled %}disabled="disabled"{% endif %}
               >
        <div class="invalid-feedback"></div>
    </div>
{% endmacro %}

{% macro checkbox(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="mb-2">
        <input name="{{ params.name }}" class="form-check-input" type="hidden" value="0">
        <input name="{{ params.name }}" class="form-check-input" type="checkbox" value="1" {% if value %}checked="checked"{% endif %} {% if params.disabled %}disabled="disabled"{% endif %}>
        <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
    </div>
{% endmacro %}

{% macro hidden(params) %}
    <input name="{{ params.name }}" type="hidden" value="{{ params.value }}">
{% endmacro %}

{% macro select(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    {% if params.label %}
        <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
    {% endif %}
    <div class="mb-2">
        <select name="{{ params.name }}" class="form-control">
            {% for val, option in params.options %}
                <option value="{{ loop.index }}" {% if val == value %}selected="selected"{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro textarea(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="mb-2">
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif %}
        <textarea name="{{ params.name }}" class="form-control">{{ value }}</textarea>
        <div class="invalid-feedback"></div>
    </div>
{% endmacro %}

{% macro captcha(params) %}
    <div class="mb-2">
        <div class="setcms-captcha row ml-0 pl-0">
            <div class="col-md-8 ml-0 pl-0">
                <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
                <input name="{{ params.name }}" type="hidden" value="" class="setcms-captcha-captcha-id" setcms-action="{{ setcms.link('do_action', {module: 'Captcha', action: 'solve'}) }}">
                <input class="form-control setcms-captcha-solvedtext" type="text">
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-md-4 mb-2">
                <label  class="form-label">Нажми на картинку чтобы обновить</label>
                <img class="setcms-captcha-image" setcms-action="{{ setcms.link('do_action', {module: 'Captcha', action: 'generate'}) }}">
            </div>
        </div>
    </div>
{% endmacro %}

{% macro submit(params) %}
    <div class="mb-2">
        <button class="setcms-submit-button btn btn-primary mb-3" type="button">{{ params.label }}</button>
    </div>
{% endmacro %}

{% macro resourceCreateUpdateAction(model, entity) %}
    {% if model.id %}
        setcms-method="PUT"
        setcms-action="{{ setcms.link('resource_update', {module: entity.module, resource: entity.resource, id: entity.id}) }}"
    {% else %}
        setcms-method="POST"
        setcms-action="{{ setcms.link('resource_create', {module: entity.module, resource: entity.resource, id: entity.id}) }}"
    {% endif %}
{% endmacro %}