{% macro input(params) %}
    <div class="mb-2">
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif %}
        {% set value = params.value %}
        {% if params.entity %}
            {% set value = attribute(params.entity, params.name) %}
        {% endif %}
        <input name="{{ params.name }}" 
               type="{{ params.type }}"
               value="{{ value }}"
               class="form-control {% if params.model and not params.model.isValidField(params.name) %}is-invalid{% endif %}"  
               size="{{ params.size }}" 
               title="{{ params.placeholder }}"
               placeholder="{{ params.placeholder }}" 
               data-data="{{ params.data|json_encode() }}"
               {% if params.disabled %}disabled="disabled"{% endif %}
               >
        <div class="invalid-feedback">{{ params.model.getFieldMessage(params.name) }}</div>
    </div>
{% endmacro %}

{% macro boolean(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="mb-2">
        <input name="{{ params.name }}" class="form-check-input" type="hidden" value="0">
        <input 
            name="{{ params.name }}" 
            class="form-check-input" 
            type="checkbox"
            value="1"
            {% if value %}checked="checked"{% endif %} 
            {% if params.disabled %}disabled="disabled"{% endif %} 
            data-data="{{ params.data|json_encode() }}"
            >
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif  %}
    </div>
{% endmacro %}

{% macro checkbox(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="mb-2">
        {% if params.hiddenValue %}
            <input name="{{ params.name }}" class="form-check-input" type="hidden" value="{{ params.hiddenValue|default('0') }}">
        {% endif %}
        <input 
            name="{{ params.name }}" 
            class="form-check-input" 
            type="checkbox"
            value="{{ params.value }}"
            {% if value %}checked="checked"{% endif %} 
            {% if params.disabled %}disabled="disabled"{% endif %} 
            data-data="{{ params.data|json_encode() }}"
            >
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif  %}
    </div>
{% endmacro %}

{% macro hidden(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="m-0 p-0">
        <input 
            name="{{ params.name }}"
            type="hidden" value="{{ value }}" 
            class="{% if params.model and not params.model.isValidField(params.name) %}is-invalid{% endif %}"
            data-data="{{ params.data|json_encode() }}"
            >
        <div class="invalid-feedback">{% if params.model and not params.model.isValidField(params.name) %}{{ params.name }}: {{ params.model.getFieldMessage(params.name) }}{% endif %}</div>
    </div>
{% endmacro %}

{% macro select(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    {% if params.label %}
        <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
    {% endif %}
    <div class="mb-2">
        <select name="{{ params.name }}" class="form-control" data-data="{{ params.data|json_encode() }}">
            {% for val, option in params.options %}
                <option value="{{ val }}" {% if val == value %}selected="selected"{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro textarea(params) %}
    {% set value = params.value %}
    {% if params.entity %}
        {% set value = attribute(params.entity, params.name) %}
    {% endif %}
    <div class="mb-2">
        {% if params.label %}
            <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
        {% endif %}
        <textarea name="{{ params.name }}" class="form-control" data-data="{{ params.data|json_encode() }}">{{ value }}</textarea>
        <div class="invalid-feedback"></div>
    </div>
{% endmacro %}

{% macro captcha(params) %}
    <div class="setcms-captcha">
        <div class="mb-2">
            <div class="row ml-0 pl-0">
                <div class="col-md-8 mb-2">
                    <img class="setcms-captcha-image" setcms-action="{{ scLink('do_action', {module: 'Captcha', action: 'generate'}) }}">
                    <label class="form-label setcms-captcha-image-reload">⟳</label>
                </div>
            </div>
        </div>
        <div class="mb-2">
            {% if params.label %}
                <label for="{{ params.name }}" class="form-label">{{ params.label }}</label>
            {% endif %}
            <input name="{{ params.name }}" type="hidden" value="" class="setcms-captcha-captcha-id" setcms-action="{{ scLink('do_action', {module: 'Captcha', action: 'solve'}) }}">
            <input class="form-control setcms-captcha-solvedtext" title="{{ params.placeholder }}" placeholder="{{ params.placeholder }}"  data-data="{{ params.data|json_encode() }}" type="text">
            <div class="invalid-feedback"></div>
        </div>
    </div>
{% endmacro %}

{% macro submit(params) %}
    <div class="mb-2">
        <button class="setcms-submit-button btn btn-primary mb-3" type="button">{{ params.label }}</button>
    </div>
{% endmacro %}
