<div class="position-sticky">
    <div class="p-4 mb-3 bg-light rounded">
        {% if scHasAccess('UserProfile') %}
            Вы авторизованы, как {{ ctx.currentUser.username }}
            <br/>
        {% endif %}
        <span class="navbar-text">
            {% if scHasAccess('UserLogin') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ scLink('UserLogin') }}">Вход</a>
            {% endif %}
            {% if scHasAccess('UserRegistration') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ scLink('UserRegistration') }}">Регистрация</a>
            {% endif %}
            {% if scHasAccess('UserProfile') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ scLink('UserProfile') }}">Профиль</a>
            {% endif %}
            {% if scHasAccess('homeAdmin') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ scLink('homeAdmin') }}">Администрирование</a>
            {% endif %}
            {% if scHasAccess('UserLogout') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ scLink('UserLogout') }}">Выйти</a>
            {% endif %}
        </span>
    </div>
</div>