{% extends scShortPath(layout ?? 'layout_admin.twig') %}

{% block content_toolbar %}
    <a href="{{ scLink('action_record_admin', {module: 'Block', action: 'new', 'id': scUUID()}) }}" class="btn btn-sm btn-outline-secondary">Создать запись</a>
{% endblock %}

{% block content_title %}Блоки{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Маршрут</th>
                    <th scope="col">Секция</th>
                    <th scope="col">Шаблон</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for post in entities %}
                    <tr>
                        <td>{{ post.path }}</td>
                        <td>{{ post.section}}</td>
                        <td>{{ post.template}}</td>
                        <td>
                            <a href="{{ scLink('action_record_admin', {'module': 'Block', action: 'edit', 'id': post.id}) }}">Редактировать</a>
                            <a href="{{ scLink('action_record_admin', {'module': 'Block', action: 'read', 'id': post.id}) }}">Просмотр</a>
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
