{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}Создать пост{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ scLink(block.id ? 'action_record_admin' : 'action_admin', {module: 'Block', action: block ? 'update': 'create', id: block.id}) }}"
          setcms-redirect="{{ scLink('action_record_admin', {module: 'Block', action: 'read', 'id': '${block.id.uuid}'}) }}"
          >

        {{ forms.hidden({name: 'block.id', value: block ? block.id : scUUID() }) }}
        {{ forms.input({name: 'block.path', value: block.path, type: 'text', label: 'Путь (Маршрут для извлечения данных)'}) }}
        {{ forms.textarea({name: 'block.params', value: block.params|json_encode(), type: 'text', label: 'Параметры (json)'}) }}
        {{ forms.input({name: 'block.section', value: block.section, label: 'Секция блоков'}) }}
        {{ forms.input({name: 'block.template', value: block.template, label: 'Шаблон для отображения блока'}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}