{% extends scShortPath(layout ?? 'layout_admin.twig') %}
{% import scShortPath('macros/crud.twig') as crud %}

{% block title %}{{ options.title }} - {{ cronScheduler.title }}{% endblock %}

{% block content_toolbar %}
    {% if scHasAccess('AdminCronSchedulerIndex') %}
        <a href="{{ scLink('AdminCronSchedulerIndex') }}" class="btn btn-sm btn-outline-secondary">Список</a> 
    {% endif %}
    {% if scHasAccess('AdminCronSchedulerEdit') %}
        <a href="{{ scLink('AdminCronSchedulerEdit', {id: cronScheduler.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
    {% endif %}
{% endblock %}

{% block content %}
    {{ 
        crud.detailview({
            panels: [
                {
                    name: 'default',
                    label: 'Основные данные',
                    active: true,
                    fields: [
                        {name: 'cronScheduler.id', value: cronScheduler.id|default(scUUID()), type: 'hidden'},
                        {name: 'cronScheduler.job', value: cronScheduler.job, type: 'select', options: scFetch('AdminCronSchedulerJobs'), label: 'Задание'},
                        {name: 'cronScheduler.cronExpression', value: cronScheduler.cronExpression, type: 'input', label: 'Правило запуска'},
                        {name: 'cronScheduler.isActive', value: cronScheduler.isActive, type: 'boolean', label: 'Активная работа'},
                        {name: 'cronScheduler.isSafeRun', value: cronScheduler.isSafeRun, type: 'boolean', label: 'Безопасный запуск'},
                        {name: 'cronScheduler.dateStart', value: cronScheduler.dateStart.format('Y-m-d'), type: 'date', label: 'Дата начала выполнения'},
                        {name: 'cronScheduler.dateEnd', value: cronScheduler.dateEnd.format('Y-m-d'), type: 'date', label: 'Дата окончания выполнения'},
                    ]
                }, 
                {
                    name: 'services',
                    label: 'Служебные данные',
                    fields: [
                        {
                            name: 'cronScheduler.dateCreated',
                            value: cronScheduler.dateCreated.format('Y-m-d H:i:s'),
                            type: 'input',
                            label: 'Дата создания',
                            disabled: true
                        },
                        {
                            name: 'cronScheduler.dateModified',
                            value: cronScheduler.dateCreated.format('Y-m-d H:i:s'),
                            type: 'input',
                            label: 'Дата изменения',
                            disabled: true
                        },
                    ]
                }
            ]
        })
    }}
{% endblock %}