{% extends scShortPath(layout ?? 'layout_admin.twig') %}
{% import scShortPath('macros/crud.twig') as crud %}

{% block title %}{{ options.title }} - {{ Entity01LC.title }}{% endblock %}

{% block content_toolbar %}
    {% if scHasAccess('AdminModule01Index') %}
        <a href="{{ scLink('AdminModule01Index') }}" class="btn btn-sm btn-outline-secondary">Список</a> 
    {% endif %}
    {% if scHasAccess('AdminModule01Edit') %}
        <a href="{{ scLink('AdminModule01Edit', {id: Entity01LC.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
    {% endif %}
{% endblock %}

{% block content %}
    {{ 
        crud.detailview({
            panels: [
                {
                    name: 'default',
                    label: 'Основные данные',
                    active: true,
                    fields: [
                        {name: 'Entity01LC.id', value: Entity01LC.id|default(scUUID()), type: 'hidden'},
                        {name: 'Entity01LC.field01', value: Entity01LC.field01, type: 'input', label: 'field01'},
                    ]
                }, 
                {
                    name: 'services',
                    label: 'Служебные данные',
                    fields: [
                        {
                            name: 'Entity01LC.dateCreated',
                            value: Entity01LC.dateCreated.format('Y-m-d H:i:s'),
                            type: 'input',
                            label: 'Дата создания',
                            disabled: true
                        },
                        {
                            name: 'Entity01LC.dateModified',
                            value: Entity01LC.dateCreated.format('Y-m-d H:i:s'),
                            type: 'input',
                            label: 'Дата изменения',
                            disabled: true
                        },
                    ]
                }
            ]
        })
    }}
{% endblock %}