{% extends scShortPath(layout ?? 'layout_admin.twig') %}

{% block title %}{{ options.title }} - {{ entity.title }}{% endblock %}

{% block content_toolbar %}
    {% if scHasAccess('AdminModule01Index') %}
        <a href="{{ scLink('AdminModule01Index') }}" class="btn btn-sm btn-outline-secondary">Список</a> 
    {% endif %}
    {% if scHasAccess('AdminModule01Edit') %}
        <a href="{{ scLink('AdminModule01Edit', {id: entity.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if entity %}
        <article class="blog-entity">
            <h2 class="blog-entity-title">{{ entity.title }}</h2>
            <p class="blog-entity-meta"><a href="#">Admin</a> опубликовал в {{ entity.dateCreated.format('H:i') }} {{ entity.dateCreated.format('d.m.Y') }}</p>
            <p>
                {{ entity.field01 }}
            </p>
        </article>
    {% endif %}
{% endblock %}