{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}Создать меню{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ scLink(menu.id ? 'action_record_admin' : 'action_admin', {module: 'Menu', action: menu ? 'update': 'create', id: menu.id}) }}"
          setcms-redirect="{{ scLink('action_admin', {module: 'Menu', action: 'index'}) }}"
          >

        {{ forms.hidden({name: 'menu.id', value: menu ? menu.id : scUUID() }) }}
        {{ forms.input({name: 'menu.label', value: menu.label, type: 'text', label: 'Надпись'}) }}
        {{ forms.input({name: 'menu.route', value: menu.route, type: 'text', label: 'Маршрут'}) }}
        {{ forms.textarea({name: 'menu.params', value: menu.params, label: 'Параметры'}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}