{% extends scShortPath(layout ?? 'layout_popup.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ scLink('MigrationDoUp') }}"
          setcms-redirect="{{ scLink('Home') }}"
          >
        {{ forms.input({name: 'dbName', placeholder: 'База данных'}) }}
        {{ forms.input({name: 'secretKey', placeholder: 'Секретный ключ'}) }}
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}