{% extends scShortPath('layout_admin.twig') %}

{% block content_toolbar %}
    <a href="{{ scLink('action_record_admin', {module: 'Module01', action: 'new', 'id': scUUID()}) }}" class="btn btn-sm btn-outline-secondary">Создать</a>
{% endblock %}

{% block content_title %}Module01{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">field01</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for Entity01LC in entities %}
                    <tr>
                        <td>{{ Entity01LC.id }}</td>
                        <td>{{ Entity01LC.field01 }}</td>
                        <td>
                            <a href="{{ scLink('action_record_admin', {'module': 'Module01', action: 'edit', 'id': Entity01LC.id}) }}">Редактировать</a>
                            <a href="{{ scLink('action_record_admin', {'module': 'Module01', action: 'read', 'id': Entity01LC.id}) }}">Просмотр</a>
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
