{% extends setcms.path('layout_popup.twig') %}
{% import setcms.path('macros/forms.twig') as forms %}

{% block content %}
    {% if clients %}
        <h4>Войти с помощью</h4>
        {% for client in clients %}
            {% if client.isAuthorizable %}
                {% if '?' in client.loginUrl %}
                    <a href="{{ client.loginUrl }}&response_type=code&client_id={{ client.clientId }}&redirect_uri={{ client.redirectURI|url_encode }}">{{ client.name }}</a>
                {% else %}
                    <a href="{{ client.loginUrl }}?response_type=code&client_id={{ client.clientId }}&redirect_uri={{ client.redirectURI|url_encode }}">{{ client.name }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        Нет систем для авторизации
    {% endif %}
{% endblock %}