{% extends setcms.path('layout_popup.twig') %}
{% import setcms.path('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ setcms.link('do_action', {module: 'OAuth', action: 'doAuthorize'}) }}"
          setcms-redirect="{{ model.redirect_uri }}?code=${entity.code}&client_id=${entity.clientId.uuid}">
        {{ forms.hidden({model: oauthClient, name: 'client_id', value: model.client_id }) }}
        {{ forms.hidden({model: model, name: 'response_type', value: model.response_type }) }}
        {{ forms.hidden({model: model, name: 'redirect_uri', value: model.redirect_uri }) }}
        {{ forms.input({name: 'username', placeholder: 'Пользователь'}) }}
        {{ forms.input({name: 'password', placeholder: 'Пароль', type: 'password'}) }}
        {{ forms.captcha({name: 'captcha', label: 'Код с картинки'}) }}
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}