{% extends scPath('layout_admin.twig') %}
{% import scPath('macros/forms.twig') as forms %}

{% block content_title %}
    Создать пост
{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ scLink('action_oauthapps_admin', { action: entity ? 'update' : 'create', id: entity.id}) }}"
          setcms-redirect="{{ scLink('action_oauthapps_admin', {action: 'index'}) }}"
          >
        {{ forms.hidden({name: 'id', value: entity ? entity.id : scUUID() }) }}
        {{ forms.input({value: entity.name, name: 'name', type: 'text', label: 'Название'}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}