{% extends scPath('layout_admin.twig') %}
{% import scPath('macros/forms.twig') as forms %}

{% block content_title %}
    Создать пост
{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ scLink('action_oauthclients_admin', { action: entity ? 'update' : 'create', id: entity.id}) }}"
          setcms-redirect="{{ scLink('action_oauthclients_admin', {action: 'index'}) }}"
          >
        {{ forms.hidden({name: 'id', value: entity ? entity.id : scUUID() }) }}
        {{ forms.select({name: 'preset', label: 'Пресет' }) }}
        {{ forms.input({value: entity.name, name: 'name', type: 'text', label: 'Название'}) }}
        {{ forms.input({entity: entity, name: 'clientId', type: 'text', label: 'Client ID'}) }}
        {{ forms.input({entity: entity, name: 'clientSecret', type: 'text', label: 'Client Secret'}) }}
        {{ forms.checkbox({entity: entity, name: 'isAuthorizable', label: 'Доступен для авторизации пользователей'}) }}
        {{ forms.input({entity: entity, name: 'callbackId', type: 'text', label: 'Идентификатор возврата'}) }}
        {{ forms.input({entity: entity, name: 'redirectURI', type: 'text', label: 'Redirect URI'}) }}
        {{ forms.input({entity: entity, name: 'loginUrl', type: 'text', label: 'Ссылка на форму авторизации'}) }}
        {{ forms.input({entity: entity, name: 'autorizationCodeUrl', type: 'text', label: 'Ссылка для получения токена по коду авторизации'}) }}
        {{ forms.input({name: 'dateCreated', value: entity.dateCreated.format('Y-m-d H:i:s'), type: 'text', label: 'Дата создания', disabled: true}) }}
        {{ forms.input({name: 'dateModified', value: entity.dateModified.format('Y-m-d H:i:s'), type: 'text', label: 'Дата изменения', disabled: true}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery().ready(function () {
            $.get('js/oauth/clients.json').done(function (data) {
                $.each(data, function (index, item) {
                    $('[name="preset"]').append($('<option>').text(item.name).val(index))
                })
            });

            $('[name="preset"]').on('change', function () {
                var index = $(this).val();
                $.get('js/oauth/clients.json').done(function (data) {
                    $.each(data[index], function (name, value) {
                        $('[name="' + name + '"]').val(value);
                    })
                });
            })
        });
    </script>
{% endblock %}