{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}{{ page.title }}{% endblock %}

{% block content_toolbar %}
    <a href="{{ scLink('action_admin', {module: 'Page', action: 'index'}) }}" class="btn btn-sm btn-outline-secondary">Список</a> 
    <a href="{{ scLink('action_record_admin', {module: 'Page', action: 'edit', id: page.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
{% endblock %}

{% block content %}
    <p>
        {{ page.content|raw }}
    </p>

    <p>
        {{ forms.input({name: 'dateCreated', value: page.dateCreated.format('d.m.Y H:i:s'), label: 'Дата создания', disabled: true}) }}
        {{ forms.input({name: 'dateModified', value: page.dateModified.format('d.m.Y H:i:s'), label: 'Дата модификации', disabled: true}) }}
    </p>
{% endblock %}