{% extends scShortPath('layout.twig') %}

{% block content %}
    {% for post in entities %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ post.title|e }}</h2>
            <p class="blog-post-meta">{{ post.dateCreated.format('d.m.Y H:i:s') }} by <a href="#">Admin</a></p>
            <p>
                {{ scMarkdown(post.message)|raw }}
                <a href="{{ scLink('post_read_by_slug', {slug: post.slug}) }}">Читать</a>
                {% if scUser().isAdmin %}
                    | <a href="{{ scLink('action_record_admin', {module: 'Post', action: 'edit', id: post.id}) }}">Редактировать</a>
                {% endif %}
            </p>
        </article>

    {%  endfor %}
    {% if scUser().isAdmin %}
        <hr/>
        <a href="{{ scLink('action_admin', {module: 'Post', action: 'edit'}) }}">Создать запись</a>
    {% endif %}
{% endblock %}
