{% extends setcms.path('layout.twig') %}

{% block content %}
    {% for post in posts %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ post.title|e }}</h2>
            <p class="blog-post-meta">{{ post.dateCreated.format('d.m.Y H:i:s') }} by <a href="#">Admin</a></p>
            <p>
                {{ setcms.markdown(post.message)|raw }}
                <a href="{{ setcms.link('post_read_by_slug', {slug: post.slug}) }}">Читать</a>
                {% if setcms.currentUser.isAdmin %}
                    | <a href="{{ setcms.link('action_record_admin', {module: setcms.toModule(post), action: 'save', id: post.id}) }}">Редактировать</a>
                {% endif %}
            </p>
        </article>

    {%  endfor %}
    {% if setcms.currentUser.isAdmin %}
        <a href="{{ setcms.link('action_admin', {module: setcms.currentModule, action: 'save'}) }}">Создать запись</a>
    {% endif %}
{% endblock %}
