{% extends scShortPath('layout.twig') %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% if post %}
        <h1>{{ post.title }}</h1>
        <p>
            {{ scMarkdown(post.message)|raw }}
        </p>

        <p>
            Дата создания: {{ post.dateCreated.format('d.m.Y H:i:s') }}
            {% if scUser().isAdmin %}
                | <a href="{{ scLink('action_record_admin', {module: 'Post', action: 'edit', id: post.id}) }}">Редактировать</a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}