{% extends scShortPath('layout.twig') %}

{% block title %}{{ options.title }} - {{ post.title }}{% endblock %}

{% block content %}
    {{ post|json_encode() }}
    {% if post %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta"><a href="#">Admin</a> опубликовал в {{ post.dateCreated.format('H:i') }} {{ post.dateCreated.format('d.m.Y') }}</p>
            <p>
                {{ post.message|raw }}
            </p>
        </article>
    {% endif %}
{% endblock %}