{% extends setcms.path('layout.twig') %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% if post %}
        <h1>{{ post.title }}</h1>
        <p>
            {{ setcms.markdown(post.message)|raw }}
        </p>

        <p>
            Дата создания: {{ post.dateCreated.format('d.m.Y H:i:s') }}
            {% if setcms.currentUser.isAdmin %}
                | <a href="{{ setcms.link('action_record_admin', {module: setcms.toModule(post), action: 'save', id: post.id}) }}">Редактировать</a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}