{% extends scShortPath(layout ?? 'layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}{{ entity.title }}{% endblock %}

{% block content_toolbar %}
    <a href="{{ scLink('AdminPostIndex') }}" class="btn btn-sm btn-outline-secondary">Список</a> 
    <a href="{{ scLink('AdminPostEdit', {id: entity.id}) }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
{% endblock %}

{% block content %}
    <p>
        {{ entity.message|raw }}
    </p>

    <p>
        {{ forms.input({name: 'dateCreated', value: entity.dateCreated.format('d.m.Y H:i:s'), label: 'Дата создания', disabled: true}) }}
        {{ forms.input({name: 'dateModified', value: entity.dateModified.format('d.m.Y H:i:s'), label: 'Дата модификации', disabled: true}) }}
    </p>
{% endblock %}