{% extends setcms.path('layout_admin.twig') %}
{% import setcms.path('macros/forms.twig') as forms %}

{% block content_title %}Создать пост{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ setcms.link(post.id ? 'action_record_admin' : 'action_admin', {module: 'Post', action: 'save', id: post.id}) }}"
          setcms-redirect="{{ setcms.link('action_record_admin', {module: 'Post', action: 'read', 'id': '${post.id.uuid}'}) }}"
          >

        {{ forms.hidden({name: 'id', value: post ? post.id : UUID() }) }}
        {{ forms.input({name: 'slug', value: post.slug, type: 'text', label: 'Псевдоним'}) }}
        {{ forms.input({name: 'title', value: post.title, type: 'text', label: 'Заголовок'}) }}
        {{ forms.textarea({name: 'message', value: post.message, label: 'Сообщение'}) }}
        {{ forms.input({name: 'dateCreated', value: post.dateCreated.format('Y-m-d H:i:s'), type: 'text', label: 'Дата создания', disabled: true}) }}
        {{ forms.input({name: 'dateModified', value: post.dateModified.format('Y-m-d H:i:s'), type: 'text', label: 'Дата изменения', disabled: true}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}