{% extends scShortPath(layout ?? 'layout.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ scLink('do_action', {module: 'User', action: 'doRestore'}) }}"
          setcms-redirect="{{ scLink('action', {module: 'User', action: 'doLogin'}) }}"
          setcms-handler="login"
          >
        {{ forms.hidden({entity: user, name: 'code', type: 'hidden', value: user.resetPasswordTicket.code.value, placeholder: 'Код сброса'}) }}
        {{ forms.input({entity: user, name: 'password', type: 'password', placeholder: 'Пароль'}) }}
        {{ forms.input({entity: user, name: 'password2', type: 'password', placeholder: 'Пароль (еще раз)'}) }}
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}
