{% extends scShortPath(layout ?? 'layout.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ scLink('UserDoRestore') }}"
          setcms-redirect="{{ scLink('UserLogin') }}"
          setcms-handler="login"
          >
        {{ forms.input({name: 'email', placeholder: 'Электронная почта'}) }}
        {% if useCaptcha %}
            {{ forms.captcha({name: 'captcha', placeholder: 'Код с картинки'}) }}
        {% endif %}
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}
