{% extends scShortPath(layout ?? 'layout.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ scLink('UserDoLogin') }}"
          setcms-redirect="{{ scLink('UserProfile') }}"
          setcms-handler="login"
          >
        {{ forms.input({name: 'email', placeholder: 'Электронная почта'}) }}
        {{ forms.input({name: 'password', placeholder: 'Пароль', type: 'password'}) }}
        {% if useCaptcha %}
            {{ forms.captcha({name: 'captcha', label: 'Код с картинки'}) }}
        {% endif %}
        <div class="mb-2">
            <a href="{{ scLink('UserRestore') }}">Забыли пароль?</a>
        </div>
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}