{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}Сохранить пользователя{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
          setcms-method="POST"
          setcms-action="{{ scLink(user.id ? 'action_record_admin' : 'action_admin', {module: 'User', action: 'update', id: user.id}) }}"
          setcms-redirect="{{ scLink('action_record_admin', {module: 'User', action: 'read', 'id': '${user.id.uuid}'}) }}"
          >
        {{ forms.hidden({name: 'user.id', value: user ? user.id : scUUID() }) }}
        {{ forms.select({value: user.role.value, name: 'user.role', options: {'guest': 'Гость', 'user': 'Пользователь', 'admin': 'Админ'}, label: 'Роль'}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}