{% extends scShortPath(layout ?? 'layout.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-0" 
          setcms-action="{{ scLink('UserDoRegistration') }}" 
          setcms-redirect="{{ scLink('UserDoLogin') }}"
          >
        {{ forms.input({entity: entity, name: 'email', type: 'text', placeholder: 'Электронная почта'}) }}
        {{ forms.input({entity: entity, name: 'password', type: 'password', placeholder: 'Пароль'}) }}
        {{ forms.input({entity: entity, name: 'password2', type: 'password', placeholder: 'Пароль (еще раз)'}) }}
        {% if useCaptcha %}
            {{ forms.captcha({name: 'captcha', placeholder: 'Код с картинки'}) }}
        {% endif %}
        {{ forms.submit({label: 'Зарегистрироваться'}) }}
    </form>
{% endblock %}