{% extends scShortPath('layout.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content %}
    <form class="setcms-form row g-1" 
          setcms-action="{{ scLink('do_action', {module: 'User', action: 'doRestore'}) }}"
          setcms-redirect="{{ scLink('action', {module: 'User', action: 'doLogin'}) }}"
          setcms-handler="login"
          >
        {{ forms.input({name: 'email', placeholder: 'Электронная почта'}) }}
        {% if useCaptcha %}
            {{ forms.captcha({name: 'captcha', label: 'Код с картинки'}) }}
        {% endif %}
        {{ forms.submit({label: 'Отправить'}) }}
    </form>
{% endblock %}
