{% extends "layout.twig" %}

{% block content %}
    {% for entity in entities %}
        <h4><a href="{{ link('read', {'module': entity.module, 'id': entity.id}) }}">{{ entity.title }}</a></h4>
        Дата создания: {{ entity.dateCreated.format('d.m.Y H:i:s') }} | 
        Дата изменения: {{ entity.dateModified.format('d.m.Y H:i:s') }} | 
        <a href="{{ link('edit', {'module': entity.module, 'id': entity.id}) }}">Редактировать</a>
        <hr>
    {%  endfor %}
{% endblock %}