{% extends theme_path('layout_admin.twig') %}

{% block content %}
    <form class="setcms-form g-3" action="{{ link('do_action_admin', {module: 'Posts', action: 'save'}) }}" setcms-redirect="{{ link('action_record_admin', {module: 'Posts', action: 'read', 'id': '${entity.id}'}) }}">
        {% if entity.id %}
            <input name="id" type="hidden" value="{{ entity.id }}">
        {% endif %}

        <div class="m-3">
            <label for="slug" class="form-label">slug</label>
            <input name="slug" value="{{ entity.slug }}" class="form-control">
            <div class="invalid-feedback"></div>
        </div>
        <div class="m-3">
            <label for="title" class="form-label">title</label>
            <input name="title" value="{{ entity.title }}" class="form-control">
            <div class="invalid-feedback"></div>
        </div>
        <div class="m-3">
            <label for="message" class="form-label">message</label>
            <textarea name="message" class="form-control">{{ entity.message }}</textarea>
            <div class="invalid-feedback"></div>
        </div>
        <div class="m-3">
            <label for="message" class="form-label">Дата создания</label>
            <input name="dateCreated" class="form-control" value="{{ entity.dateCreated.format('Y-m-d H:i:s') }}" disabled="1"/>
        </div>
        <div class="m-3">
            <label for="message" class="form-label">Дата изменения</label>
            <input name="dateModified" class="form-control" value="{{ entity.dateModified.format('Y-m-d H:i:s') }}" disabled="1"/>
        </div>
        <div class="m-3">
            <button class="setcms-submit-button btn btn-primary mb-3" type="button">Отправить</button>
        </div>
    </form>
{% endblock %}